[Desktop Entry]
Type=Application
Name=Night Light Settings
GenericName=Color Temperature Settings
Comment=Configure the schedule, color temperature, and brightness
Exec=cosmic-nightlight --settings
Icon=io.github.cosmic_nightlight
Terminal=false
Categories=Utility;Settings;DesktopSettings;
Keywords=night;light;shift;redshift;gamma;color;temperature;blue;warm;schedule;
StartupNotify=true
StartupWMClass=io.github.cosmic_nightlight
